.container {
    font-size: 4rem;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    user-select: none;
}

.container > div {
    position: relative;
    display: flex;
    min-width: 0;
    flex: 1 1 0;
    justify-content: center;
    border-bottom: 0.125em solid;
}

.container .revealed {
    color: var(--cancel-color, rgba(240, 128, 128, 0.7));
}

@media (max-width: 769px) {
    .container {
        font-size: 3.5rem;
    }
}